<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">EJS</h1>
<p>EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript.</p>

<h2 class="h4 mb-2 text-gray-800">Features</h2>
<ul>
    <li>Fast compilation and rendering</li>
    <li>Simple template tags: &lt;% %&gt;</li>
    <li>Custom delimiters (e.g., use [? ?] instead of &lt;% %&gt;)</li>
    <li>Sub-template includes</li>
    <li>Ships with CLI</li>
    <li>Both server JS and browser support</li>
    <li>Static caching of intermediate JavaScript</li>
    <li>Static caching of templates</li>
    <li>Complies with the <a href="http://expressjs.com" target="_blank">Express</a> view system</li>
</ul>

<p class="text-center">
    <a href="https://ejs.co/" class="btn btn-primary btn-icon-split btn-sm" target="_blank">
        <span class="icon text-white-50">
            <i class="fas fa-info-circle"></i>
        </span>
        <span class="text">click here to learn more</span>
    </a>
</p>