<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Express</h1>
<p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>

<h2 class="h4 mb-2 text-gray-800">APIs</h2>
<p>With a myriad of HTTP utility methods and middleware at your disposal, creating a robust API is quick and easy.</p>

<h2 class="h4 mb-2 text-gray-800">Performance</h2>
<p>Express provides a thin layer of fundamental web application features, without obscuring Node.js features that you know and love.</p>

<h2 class="h4 mb-2 text-gray-800">Frameworks</h2>
<p>Many popular frameworks are based on Express.</p>

<p class="text-center">
    <a href="https://expressjs.com/" class="btn btn-primary btn-icon-split btn-sm" target="_blank">
        <span class="icon text-white-50">
            <i class="fas fa-info-circle"></i>
        </span>
        <span class="text">click here to learn more</span>
    </a>
</p>