<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Systeminformation</h1>
<p>Node.js system information package. Lightweight collection of 50+ functions to retrieve detailed hardware, system and OS information. For Linux, macOS, partial Windows, FreeBSD, OpenBSD, NetBSD and SunOS support. Dependency free.</p>

<h2 class="h4 mb-2 text-gray-800">Features</h2>
<ul>
    <li>simple to use</li>
    <li>get detailed information about system, cpu, baseboard, battery, memory, disks/filesystem, network, docker, software, services and processes</li>
    <li>supports Linux, macOS, partial Windows, FreeBSD, OpenBSD, NetBSD and SunOS support</li>
    <li>no npm dependencies</li>
</ul>

<p class="text-center">
    <a href="https://systeminformation.io/" class="btn btn-primary btn-icon-split btn-sm" target="_blank">
        <span class="icon text-white-50">
            <i class="fas fa-info-circle"></i>
        </span>
        <span class="text">click here to learn more</span>
    </a>
</p>